* {
    margin: 0;
    padding: 0;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif
}

.container {
    /* background: linear-gradient(to right top, #a1152a, #72191b); */
    background: #7b1113;
    min-height: 100vh;
    position: absolute;
	display: flex;
	align-items: center;
	justify-content: center;
	width: 100%;
	height: 100%;
	top: 0;
	left: 0;
}

.chinesenewyear{
    position: relative;
	display: flex;
	flex-direction: column;
	width: 99vmin;
    height: 81%;
    border: 3px solid rgba(197, 63, 63, 0.9);
	/* border: 0.5vmin solid #ccc; */
	/* border-bottom-width: 10vmin; */
	padding: 3vmin;
    border-radius: 2vmin;
}

.titleandplay {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-areas: 
    "titleh2 titleh2 titleh2 titlebutton";
    
}

.titleandplay > h2 {
    grid-area: titleh2;
    color: white;
}

.titlebutton > button {
    width: 3.7rem;
    height: 3.7rem;
    border: #ccc;
    border-radius: 2rem;
    font-size: large;
    cursor: pointer;
}

.titlebutton {
    grid-area: titlebutton;
    text-align: center;
}

.chinesenewyear > p {
    color: white;
    font-size: 18px;
    padding-top: 20px;
    padding-bottom: 10px;
    text-align: justify;
}


.glass {
    /* background:linear-gradient(to left bottom,#7b1113, #7b1113);
    border-radius: 1rem;
    
    min-height: 89vh;
    width: 69%; */
    /* border: 2.5px solid rgba(197, 63, 63, 0.9); */
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: 1fr 1fr 1fr;
    grid-template-areas: 
    "cz1 cz2 cz3 cz4"
    "cz5 cz6 cz7 cz8"
    "cz9 cz10 cz11 cz12"
    ;
    grid-gap:1em;
    height: 100%;
    position: relative;
}

.glass :hover img {
    opacity: 0.2;
  }
  

img {
    object-fit: cover;
    height: 12vh;
}

.cz1, .cz2, .cz3, .cz4, .cz5, .cz6, .cz7, .cz8, .cz9, .cz10, .cz11, .cz12 {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.cz1{
    grid-area: cz1;
}

.cz2{
    grid-area: cz2;
}

.cz3{
    grid-area: cz3;
}

.cz4{
    grid-area: cz4;
}

.cz5{
    grid-area: cz5;
}

.cz6{
    grid-area: cz6;
}

.cz7{
    grid-area: cz7;
}

.cz8{
    grid-area: cz8;
}

.cz9{
    grid-area: cz9;
}

.cz10{
    grid-area: cz10;
}

.cz11{
    grid-area: cz11;
}

.cz12{
    grid-area: cz12;
}

@keyframes rotation {
    from {
      transform: rotate(0deg);
    }
    to {
      transform: rotate(359deg);
    }
  }


.chapter1header {
    color: white;
    text-align: center;
}

.chapter1content {
    display: flex;
    justify-content: space-between;
}

.chapter1content > p {
    color:white;
    padding: 10px;
}

.canvaspart {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

#canvas {
    position: relative;
    height: 80vh;
    width: 100%;
    margin: 0;
}   

.prev, .next {
    cursor: pointer;
    position: absolute;
    top: 40%;
    width: auto;
    padding: 16px;
    margin-top: -22px;
    color: white;
    font-weight: bold;
    font-size: 26px;
    transition: 0.6s ease;
    border-radius: 0 3px 3px 0;
    user-select: none;
  }

  .next {
    right: 0;
    border-radius: 3px 0 0 3px;
  }

  .prev {
      left : 0;
  }
  
  /* On hover, add a black background color with a little bit see-through */
  .prev:hover, .next:hover {
    background-color:rgba(197, 63, 63, 0.9);
  }

  .slider-img > img {
      height: 500px;
      width: 100%;
      padding-top: 10px;
  }

  .slider-text {
      font-size: 18px;
      color: white;
      text-align: justify;
      padding-top: 10px;
  }